body
{
	width: 50%;
	top: 25%;
	margin: 0 auto;
	margin-top: 100px;
	font-family: sans-serif;
	text-align: center;
	background: #0055aa;
	color: #dddddd;
}

h1
{
	letter-spacing: 2px;
	font-size: 3em;
}

ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li
{
	margin: 0;
}

input.choice
{
	border: none;
	border-bottom: 2px solid #00aa55;
	color: #eeeeee;
	margin-bottom: 2px;
	background: none;
	width: 400px;
}

button
{
	display: block;
	margin: auto;
	margin-top: 10px;
	background: #00aa55;
	border: 1px solid #0066bb;
	color: #eeeeee;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

.resultpage
{
	display: none;
}

#result
{
	font-size: 2em;
	color: yellow;
}

#reset
{
	display: none;
	background: #770000;
}
